<footer class="footer">
    基于
    <a href="https://docs.djangoproject.com/en/1.10/" target="_blank">Django 1.11.4</a>,
    <a href="https://github.com/billvsme/vmaig_blog" target="_blank">VmaigBlog</a>,
    <a href="http://v3.bootcss.com/" target="_blank">Bootsratp3</a>.
    &nbsp;
    <a href="{% url 'rss' %}" title="订阅" target="_blank"> <i class="icon iconfont icon-rss"></i>&nbsp;</a>
    <a href="https://stackoverflow.com/users/6786283/ykh" title="Stack Overflow" target="_blank">
        <i class="icon iconfont icon-stackoverflow"></i>&nbsp;
    </a>
    <a href="{% url 'sitemap' %}" title="站点地图" target="_blank"> <i class="icon iconfont icon-ditu"></i>&nbsp;</a>

    <div class="pull-right hidden-xs">
        <b> Copyright &copy; 2015-2017 <a target="_blank" href="http://www.dreamgotech.com">DreamGo</a>. </b>
        All rights reserved.
        <a href="{% url 'version' %}"><b> Version </b> 1.2</a>
    </div>
</footer>