<footer class="footer">
    <div class="row center">
        <div class="col-sm-6">
            基于
            <a href="https://docs.djangoproject.com/en/2.1/" target="_blank">Django 2.1</a>,
            <a href="https://github.com/billvsme/vmaig_blog" target="_blank">VmaigBlog</a>,
            <a href="http://v3.bootcss.com/" target="_blank">Bootsratp3</a>.
            &nbsp;
            <a href="{% url 'rss' %}" title="订阅" target="_blank"> <i class="icon iconfont icon-rss"></i>&nbsp;</a>

            <a href="{% url 'sitemap' %}" title="站点地图" target="_blank"> <i
                    class="icon iconfont icon-ditu"></i>&nbsp;</a>
            <a href="https://github.com/yinkh/Blog" title="Github" target="_blank"> <i
                    class="icon iconfont icon-github"></i>&nbsp;</a>
            <a href="javascript:;" id="share"> <i class="icon iconfont icon-fenxiang"></i>&nbsp;</a>
        </div>

        <div class="pull-right hidden-xs">
            <b> Copyright &copy; 2015-2018 YinKH. </b>
            All rights reserved.
            <a href="{% url 'version' %}"><b> Version </b> 1.3</a>&nbsp;&nbsp;
        </div>
    </div>

    <script>
        var href = window.location.href;

        new ClipboardJS('#share', {
            text: function () {
                return href;
            }
        });

        $('#share').popover({
            placement: 'top',
            toggle: 'click',
            content: '复制本页url成功, 快去粘贴分享吧。'
        });
    </script>
</footer>