<div class="panel panel-primary">
    <div class="panel-heading ">
        <h3 class="panel-title">
            <span class="glyphicon glyphicon-flag"></span>
            热门文章
             <span class="glyphicon glyphicon-chevron-up  panel-collapse" style="margin-left:45%;padding: 0px"
              data-toggle="collapse" data-target="#hotest-post-list"></span>
             <span class="glyphicon glyphicon-remove  panel-close" style="padding: 0px"></span>
        </h3>
    </div>

    <ul  id="hotest-post-list" class="padding10 list-group collapse in">
        {% for article in hot_article_list %}
            <li class="list-group-item">
                <span class="badge badge-info">{{article.view_times}}</span>
                <a href="{% url 'article_detail' article.id %}"><p>{{article.title}}</p></a>
            </li>
        {% endfor %}
    </ul>

</div>

