{% extends "base.html" %}

{% block title %}
     <title> 修改密码 | {{ website_title|default_if_none:'' }}</title>
{% endblock %}

{% block main %}
    <div id="change-password" class="well clearfix">
        <h1 class="underline">修改密码</h1>
        <form class="form" method="post" role="form">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group no-margin {% if field.errors %} has-error {% endif %}">
                    <label class="control-label" for="{{ field.id_for_label }}">
                        <b>{{ field.label }}</b> {% if field.errors %} {{ field.errors.as_text }} {% endif %}
                    </label>
                    {{ field }}
                </div>
            {% endfor %}

            <button id="change-password-button" type="submit"
                    style="float:right;"
                    class="btn btn-raised btn-info">确定
            </button>
        </form>
    </div>

    <script>
        {% if  form.message %}
            var message = '{{ form.message }}';
            alert(message);
            location.replace("{% url "index" %}")
        {% endif %}
    </script>
{% endblock %}