{% extends "user/user_base.html" %}

{% block title %}
     <title> 注册 | {{ website_title|default_if_none:'' }}</title>
{% endblock %}

{% block content %}
    <div class="login-box">
        <div class="login-logo">
            <a href="/">{{ website_title|default_if_none:'' }}</a>
        </div>
        <div class="login-box-body">
            <form method="post" role="form">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group no-margin {% if field.errors %} has-error {% endif %}">
                        <label class="control-label" for="{{ field.id_for_label }}">
                            <b>{{ field.label }}</b> {% if field.errors %} {{ field.errors.as_text }} {% endif %}
                        </label>
                        {{ field }}
                    </div>
                {% endfor %}
                <div class="row">
                    <div class="col-xs-6">
                        <button id="auth-register-button" type="submit"
                                style="width: 100%" class="btn btn-raised btn-primary">注册
                        </button>
                    </div>
                    <div class="col-xs-6">
                        <div class="social-auth-links text-right">
                            <a href="{% url 'user_login' %}" class="text-info">已有账号</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}




