{% extends "user/user_base.html" %}

{% block title %}
     <title> 重置密码 | {{ website_title|default_if_none:'' }}</title>
{% endblock %}

{% block content %}
    {% if form.user %}
        <div class="login-box">
            <div class="login-logo" style="margin: 6px">
                <a href="/">{{ website_title|default_if_none:'' }}</a>
            </div>

            <div class="login-box-body">
                <form method="post" role="form">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group no-margin {% if field.errors %} has-error {% endif %}">
                            <label class="control-label" for="{{ field.id_for_label }}">
                                <b>{{ field.label }}</b> {% if field.errors %} {{ field.errors.as_text }} {% endif %}
                            </label>
                            {{ field }}
                        </div>
                    {% endfor %}

                    {% if form.reset_pwd_message %}
                        {{ form.reset_pwd_message }}
                    {% endif %}

                    <div class="row">
                        <div class="col-xs-6"></div>
                        <div class="col-xs-6">
                            <button type="submit" style="float:right;width:70%"
                                    class="btn btn-raised btn-primary">重置
                            </button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    {% else %}
        <div class="jumbotron" style="background:white;margin:20px;border-radius: 10px">
        <div class="container-fluid">
            <h1>无效链接</h1>

            <p>该链接已失效或不是有效链接，请重新请求链接。</p>

            <p><a href="{% url 'user_forget_pwd' %}" class="btn btn-primary btn-lg">去请求</a></p>
        </div>

        </div>
    {% endif %}
{% endblock %}




