{% extends "base.html" %}

{% block title %}
    <title> 首页 | {{ website_title|default_if_none:'' }}</title>
{% endblock %}


{% block main %}
    <div class="row">
        <div id="content" class="col-md-8 col-lg-9">
            <!-- 警告框 -->
            {% if website_welcome %}
                <div class="well alert hidden-xs fade in">
                    <button class="close" data-dismiss="alert" type="button">&times;</button>
                    <p style="color:cornflowerblue">{{ website_welcome }}</p>
                </div>
            {% endif %}

            <div class="panel visible-xs" style="padding-left: 10px;padding-right: 10px">
                <form class="form" role="form" method="get" action="{% url 'article_index' %}">
                    <input type="text" class="form-control" id="search" name="search" placeholder="搜索">
                </form>
            </div>

            <!-- 首页文章列表 -->
            <div id="home-post-list">
                <!-- 首页轮播 -->
                {% if banner_list %}
                    {% include "widgets/banner.html" %}
                {% endif %}

                <!--首页文章列表 -->
                {% if article_list %}
                    {% for article in article_list %}
                        {% include "index_item.html" %}
                    {% endfor %}
                {% endif %}

                <!--分页 -->
                {% include "widgets/pagination.html" %}
            </div>
        </div>

        <!-- 右边的widgets -->
        <div class="col-md-4 col-lg-3 hidden-xs">
            {% include "widgets/tags_cloud.html" %}
            {% include "widgets/search.html" %}
            {% include "widgets/hotest_posts.html" %}
            {% include "widgets/latest_comments.html" %}
            {% include "widgets/links.html" %}
        </div>
    </div>
{% endblock %}
