<footer class="footer">
    基于
    <a href="https://docs.djangoproject.com/en/1.10/">Django 1.11.4</a>,
    <a href="https://github.com/billvsme/vmaig_blog">VmaigBlog</a>,
    <a href="http://v3.bootcss.com/">Bootsratp3</a>.

    <a href="{% url 'rss' %}">&nbsp;订阅</a>/
    <a href="{% url 'sitemap' %}">站点地图&nbsp;</a>

    <script type="text/javascript">
        var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cspan id='cnzz_stat_icon_1263441138'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s19.cnzz.com/z_stat.php%3Fid%3D1263441138%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));
    </script>

    <div class="pull-right hidden-xs">
        <b> Copyright &copy; 2015-2017 <a target="_blank" href="http://www.dreamgotech.com">DreamGo</a>. </b>
        All rights reserved.
        <a href="{% url 'version' %}"><b> Version </b> 1.2</a>
    </div>
</footer>